<!-- Footer -->
<footer id="contact" class="footer text-white bg-light" style="background: linear-gradient(to left, #7b4397, #dc2430);">
  <div class="pb-3">
      <div class="row pt-3 m-0">
          <div class="col-md-3 text-center">
            <i class="fas fa-store pe-2"></i>
              <p class="pb-3"><strong>Game Store</strong></p>
              <p>3456 Somewhere str 67-69-43534534</p>
          </div>

          <div class="col-md-3 text-center">
            <p><strong>Game Store</strong></p>
            <p><a href="" class="text-decoration-none text-white">Home</a></p>
            <p><a href="/products" class="text-decoration-none text-white">Games</a></p>
            <p><a href="/faq" class="text-decoration-none text-white">FAQ</a></p>
            <p><a href="/contact" class="text-decoration-none text-white">Contact</a></p>
          </div>

          <div class="col-md-3 text-center">
              <p><strong>Games</strong></p>
              <p>Call of Duty</p>
              <p>Grand Theft Auto</p>
              <p>Forza Horizon</p>
              <p>Assassin's Creed</p>
          </div>

          <div class="col-md-3 d-flex justify-content-evenly align-items-center">
              <img class="custom-icon" src="../../../assets/twitter.svg" alt="twitter">
              <img class="custom-icon" src="../../../assets/facebook.svg" alt="facebook">
              <img class="custom-icon" src="../../../assets/google-plus.svg" alt="google">
      </div>
  </div>
