<app-navigation></app-navigation>

<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="d-flex justify-centent-center align-items-center flex-column p-3 m-4">
  <div class="m-4 text-danger w-50">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input required ngModel name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="m-4 text-danger w-50">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input required ngModel name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <a href="/signup" class="m-2">Don't have an account? Click here to Sign up</a>
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-danger mb-4 ms-4">Submit</button>
  </div>
</form>

<app-footer></app-footer>
