<app-navigation></app-navigation>

<div class="container">
  <div class="products-container">
      <h1 class="pt-3 text-danger fs-1">Games</h1>
      <div class="product-grid">
          <div class="row mb-4 gy-4 justify-content-center">
              <div *ngFor="let item of Product" class="product-square">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" [src]="item.productSmallImage" />
                      <div class="card-body">
                          <h5 class="card-title">{{ item.productTitle }}</h5>
                          <p>{{ item.productDescription }}</p>
                          <p> ${{item.productPrice}} <span>USD</span> </p>
                          <a (click)="addtoCart(item)" class="btn btn-primary">Buy</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
