<app-navigation></app-navigation>

<!-- Carousal -->
<app-carousal></app-carousal>

<!-- Store -->
<section id="store">
  <h1 class="text-danger fs-1 text-center mt-3 mb-3" id="Work">Our Store</h1>
<p class="text-md-center fw-bold fs-5 pe-5 ps-5">This store is about selling games like Call of Duty, Forza Horizon, Grand Theft Auto etc. You can find all sorts of amazing games here. Our goal is to sell you games at cheaper and reasonable price and make you happy. Customers satisfaction is our number one priority. For more information don't hesitate to contact us.</p>
<p class="text-md-center fw-bolder fs-4 pe-5 ps-5 text-danger">We are faster, we are better, we are cheaper.</p>
</section>

<!-- Images -->
<h1 class="text-danger fs-1 text-center mt-3 mb-3" id="Work">Games of the Year</h1>
<div class="row gy-3 container-fluid mt-3">
  <div class="col-md-4">
    <img src="../../../assets/small1.jpg" class="img-fluid" alt="gpus">
  </div>
  <div class="col-md-4">
    <img src="../../../assets/small2.jpg" class="img-fluid" alt="rgb">
  </div>
  <div class="col-md-4">
    <img src="../../../assets/small3.jpg" class="img-fluid" alt="setup">
  </div>
</div>

<br>

<!-- Video -->
<div class="video">
  <h3 class="slider-heading font-family:Roboto text-danger text-center">Gaming at your Disposal!</h3>
    <h6 class="h6 text-center text-danger"><sub>Sponsored By Esports</sub><sup><small>TM</small></sup></h6>
    <video muted controls loop width="100%">
        <source src="../../../assets/esports.mp4" type="video/mp4">
    </video>
</div>

<!-- Footer -->
<app-footer></app-footer>
