<app-navigation></app-navigation>

<h2 class="text-danger m-4">Buying</h2>
<ngb-accordion [closeOthers]="true">
  <ngb-panel id="static-1" title="What is the service fee?">
    <ng-template ngbPanelContent>
      <p>A service fee, also known as a service charge, is a fee collected to pay for services related to the product or product service. It's a standard practice applied in a variety of industries, from banking to travel and tourism, to eCommerce. When collected, these charges cover services rendered to the consumer as well as administrative or processing costs such as customer support.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2" title="I did not receive any email confirmation of my purchase">
    <ng-template ngbPanelContent>
      <p>Please check that you used correct email address when you made your purchase. Just in case, also check your spam folder.</p>
      <p>Please also check if the transaction was successful and you received a payment confirmation from your payment provider.</p>
      <p>If you still cannot find any information about the particular purchase please contact our Support Team.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Can I pre-order a game? How does it work?">
    <ng-template ngbPanelContent>
      <p>All you have to do is purchase a pre-order product and wait until the day that the game is officially launched. You will receive the code on the day the game is officially available. You can check the release day on the product page of the game you want to pre-order. Keep in mind that due to time zone differences or possible technical difficulties there might be delays delivering the key to you.</p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<h2 class="text-danger m-4">Accounts</h2>
<ngb-accordion [closeOthers]="true">
  <ngb-panel id="static-1" title="Do I need to register an account in order to purchase?">
    <ng-template ngbPanelContent>
      <p>You can easily start buying products from our platform without registration. Just pick a product that you like, put it to your cart and buy it whenever you want or select ‘Buy Now’ and buy it right now. You will simply need to write your e-mail address and go to payment.</p>
      <p>We would still recommend you to create an account if you want to track all of your purchases in one place since that would give you an access to your purchase library.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2" title="What is 2FA and how can I use it?">
    <ng-template ngbPanelContent>
      <p>2FA or Two-Factor Authentication is an additional layer of security for your account. Users can choose to set it up in order to prevent their account from being stolen. There are two ways to use 2FA:</p>
      <b>Text message</b>
      <p>You can set up 2FA through your phone by receiving a code through an SMS when you try to log in to your account.</p>
      <b>Authenticator app</b>
      <p>You can set up 2FA through an Authenticator app and you will receive a code through this app when you try to log in.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="How can I link my account?">
    <ng-template ngbPanelContent>
      <p>We provide the possibility for users to register/ link/ sign in through various online sources, such as Facebook, Twitter, Steam, Google. If you have an already existing account and want to link it with other platforms then go to your Account and Connected apps. From there you will be able to choose and connect to your desired applications.</p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<app-footer></app-footer>
